<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Perfil de Usuario</h1>
        <div>
            <button class="btn btn-primary" onclick="loadContent('/movimientos')">Resumen de Movimientos</button>
            <button class="btn btn-primary" onclick="loadContent('/carritop')">Carrito de equipos</button>
        </div>
        <div id="content" class="mt-3">
            <!-- Aquí se cargarán los otros archivos HTML -->
        </div>
    </div>

    <script>
        function loadContent(url) {
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => console.error('Error al cargar el contenido:', error));
        }
    </script>
</body>
</html>
